extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/game/new/') New Game
  br
  br
  p.bold Join game 
  form(action="/game", method="GET", autocomplete="off")
    p
      | Game ID:
      br
      input(type="text", name="game_id" value=game_id)
    button(type="submit") Join