extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/game/new/", method="GET", autocomplete="off")
    p
      | Player name:
      br
      input(type="text", name="player_name" value=player_name)
      br
      br
      p.bold Create new game
    button(type="submit" name="new_game") New Game
    br
    br
    p.bold Join game
    p
      | Game ID:
      br
      input(type="text", name="game_id" value=game_id)
    button(type="submit" name="join" formaction="/game") Join